-var version = '0.8';
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title САФМЕД Стоматология

        link(rel="stylesheet", type="text/css", href="css/style.css?"+version+"")
    body
        header.header
            .header__content
                .navbar__toggle
                .header__left
                    a.logo(href="/")
                        img(src="img/logo.svg", alt="САФМЕД Стоматология")
                .header__right
                    .action
                        .action__item
                            .action__icon
                                i.icon-calendar
                            .action__descr
                                .action__title Режим работы:
                                .action__props Круглочуточно. Без выходных.
                        .action__item
                            .action__icon
                                i.icon-marker
                            .action__descr
                                .action__title Адрес:
                                .action__props г. Москва, ул.Ягодная 6
                        .action__item
                            a.action__icon(href="mailto: primer.med@mail.ru")
                                i.icon-mail
                            .action__descr
                                .action__title Почта:
                                a.action__props(href="mailto: primer.med@mail.ru") primer.med@mail.ru
                        .action__item
                            a.action__icon(href="tel: +7 (495) 111-57-57")
                                i.icon-phone
                            .action__descr
                                a.action__phone(href="tel: +7 (495) 111-57-57") +7(495) 111-57-57
                                a.action__phone(href="tel: +7(909) 672-57-57") +7(909) 672-57-57

                    nav.nav
                        ul.navbar
                            -var nav = [{name: 'Главная', anchor: 'home'},{name: 'О клинике ', anchor: 'about'},{name: 'Услуги', anchor: 'service'},{name: 'До и После ', anchor: 'compare'},{name: 'Доктора', anchor: 'doctors'},{name: 'Отзывы', anchor: 'review'},{name: 'Контакты', anchor: 'contacts'},{name: 'Карта сайта', anchor: 'sitemap'}];
                            each item in nav
                                li.navbar__item
                                    a.navbar__link(href="#"+item.anchor data-scroll-to="")= item.name

        main.main_content

            // begin home
            section#home.home.section
                .home__content
                    .home__form
                        h1.section__title Проверка зубов бесплатно. Лучшие стоматологи
                        .section__text Орбиталь зависима. Амальгама проникает ионообменник. Анод, в согласии с традиционными представлениями, избирательно разъедает растворитель, что вызывает дезактивацию.
                        form.form(action="send.php")
                            input(type="hidden" name="subject" value="Заявка с сайта")
                            .form__label Ваш телефон
                            .form__row.form_inline
                                input(type="tel" name="tel" placeholder="+7 (___) ___ - __- __" required)
                                button.btn(type="submit") Записаться на прием
                            label.form__privacy
                                input(type="checkbox" checked="") 
                                |Я принимаю условия передачи информации

                            .form__rezult(data-message="Спасибо! В ближайшее время с вами свяжутся наши специалисты.")
                    .home__img
                        img(src="img/doctor.png", alt="")

            // end home

            // begin about
            section#about.about.section
                .container_center
                    .about__content
                        .about__logo
                            img(src="img/logo-gray.svg", alt="")
                        .about__img
                            img(src="img/about.png", alt="")
                        .about__descr
                            h2.section__title О нас
                            .section__text 
                                p Орбиталь зависима. Амальгама проникает ионообменник. Анод, в согласии с традиционными представлениями, избирательно разъедает растворитель, что вызывает дезактивацию. Согласно выдвинутой гипотезе, пламя возбуждает квантовый катализатор. Свойство, как бы это ни казалось симбиотичным, случайно модифицирует периодический азид ртути.
                                p Орбиталь зависима. Амальгама проникает ионообменник. Анод, в согласии с традиционными представлениями, избирательно разъедает растворитель, что вызывает дезактивацию. 
                            .about__quote Орбиталь зависима. Амальгама проникает ионообменник. Анод, в согласии с традиционными представлениями, избирательно разъедает растворитель, что вызывает дезактивацию. 

            // end about

            // begin service
            section#service.service.section
                .container_center
                    h2.section__title(data-title="Услуги") Услуги
                    .section__text Орбиталь зависима. Амальгама проникает ионообменник. Анод, в согласии с традиционными представлениями, избирательно разъедает растворитель, что вызывает дезактивацию.

                    .service__list
                        .service__item
                            .service__top
                                .service__head
                                    .service__name Имплантация зубов
                                    .service__price от 29 900 ₽
                                .service__icon
                                    img(src="img/implant.svg", alt="Имплантация зубов")
                            .service__descr
                                b Что входит в стоимость:
                                ul
                                    li консультация у врача-стоматолога;
                                    li ортопанорамный снимок;
                                    li анестезия современными обезболивающими препаратами;
                                    li операция по установке имплантата;
                                    li установка заглушки;
                                    li установка формирователя десны;
                                    li установка абатмента;
                                    li снятие слепков;
                                    li изготовление и установка металлокерамической коронки 
                            .service__action
                                button.btn(type="button") Записаться 

                        .service__item
                            .service__top
                                .service__head
                                    .service__name Съемный протез
                                    .service__price 10 000 ₽
                                .service__icon
                                    img(src="img/proyez.svg", alt="Съемный протез")
                            .service__descr
                                b Что входит в стоимость:
                                ul
                                    li консультация у врача-ортопеда;
                                    li снятие слепков,
                                    li индивидуальная ложка;
                                    li изготовление протеза - акрил производство Германия,
                                    li установка и подгонка протеза ;
                                    li серия профилактических осмотров.
                            .service__action
                                button.btn(type="button") Записаться 

                        .service__item
                            .service__top
                                .service__head
                                    .service__name Удаление зубов
                                    .service__price 1 500 ₽
                                .service__icon
                                    img(src="img/tools.svg", alt="Удаление зубов")
                            .service__descr
                                b Что входит в стоимость:
                                ul
                                    li консультация у врача-стоматолога;
                                    li обезболивание;
                                    li хирургические манипуляции по удалению зуба ;
                                    li заживления и дезинфекции лунки;
                                    li наложение швов по показаниям;
                            .service__action
                                button.btn(type="button") Записаться 

                        .service__item
                            .service__top
                                .service__head
                                    .service__name Виниры
                                    .service__price 9 000 ₽
                                .service__icon
                                    img(src="img/dent-full.svg", alt="Виниры")
                            .service__descr
                                b Что входит в стоимость:
                                ul
                                    li ортопанорамный или прицельный снимок (определяется врачом по показаням);
                                    li анестезия современными обезболивающими препаратами - если необходимо;
                                    li снятие слепков или внутриротовое сканирование;
                                    li подготовка зубов под установку;
                                    li установка и подгонка;
                            .service__action
                                button.btn(type="button") Записаться 

                        .service__item
                            .service__top
                                .service__head
                                    .service__name Чистка и отбеливание
                                    .service__price 1 500 ₽
                                .service__icon
                                    img(src="img/dent-clean.svg", alt="Чистка и отбеливание")
                            .service__descr
                                b Что входит в стоимость:
                                ul
                                    li диагностика полости рта;
                                    li консультация врача-терапевта;
                                    li удаление зубных отложений ультразвуком;
                                    li снятие зубного налета при помощи AirFlow;
                                    li полировка и заключительное очищение профессиональной пастой;
                            .service__action
                                button.btn(type="button") Записаться 

                        .service__item
                            .service__top
                                .service__head
                                    .service__name Циркониевая коронка
                                    .service__price 9 000 ₽
                                .service__icon
                                    img(src="img/dent-crown.svg", alt="Циркониевая коронка")
                            .service__descr
                                b Что входит в стоимость:
                                ul
                                    li консультация у врача-стоматолога-ортопеда;
                                    li анестезия современными обезболивающими препаратами;
                                    li препарирование зуба под коронку;
                                    li снятие слепков или скан полости рта (по назначению врача);
                                    li установка и подгонка коронки;
                                    li профилактические осмотры и коррекция
                            .service__action
                                button.btn(type="button") Записаться 

                        .service__item
                            .service__top
                                .service__head
                                    .service__name Металлокерамика
                                    .service__price 10 000 ₽
                                .service__icon
                                    img(src="img/metalceramic.svg", alt="Металлокерамика")
                            .service__descr
                                b Что входит в стоимость:
                                ul
                                    li консультация у врача-стоматолога;
                                    li анестезия современными обезболивающими препаратами;
                                    li изготовление коронки;
                                    li обточка зуба под коронку;
                                    li установка и подгонка коронки;
                                    li профилактические осмотры и коррекция при необходимости.
                            .service__action
                                button.btn(type="button") Записаться 

                        .service__item
                            .service__top
                                .service__head
                                    .service__name Лечение кариеса
                                    .service__price 1 500 ₽
                                .service__icon
                                    img(src="img/dent-brooken.svg", alt="Лечение кариеса")
                            .service__descr
                                b Что входит в стоимость:
                                ul
                                    li консультация у врача-стоматолога;
                                    li прицельный снимок;
                                    li анестезия современными обезболивающими препаратами;
                                    li удаление кариозных поражений для начального кариеса БЕЗ БОРМАШИНЫ, для - среднего и глубокого применение лазера или алмазного бора;
                                    li обеззараживание полости;
                                    li установка светокомпозитной пломбы;
                                    li профилактические осмотры;
                            .service__action
                                button.btn(type="button") Записаться 

                        .service__item
                            .service__top
                                .service__head
                                    .service__name Квадротти
                                    .service__price 9 000 ₽
                                .service__icon
                                    img(src="img/cvadotty.svg", alt="Квадротти")
                            .service__descr
                                b Что входит в стоимость:
                                ul
                                    li консультация у врача-стоматолога-ортопеда;
                                    li анестезия современными обезболивающими препаратами;
                                    li препарирование зуба под коронку;
                                    li снятие слепков или скан полости рта (по назначению врача);
                                    li установка и подгонка коронки;
                                    li профилактические осмотры и коррекция
                            .service__action
                                button.btn(type="button") Записаться 

            // end service

            // begin compare
            section#compare.compare.section
                .container_center
                    h2.section__title(data-title="До и после") До и после
                    .compare__slider
                        // Slide
                        - var slides = ['','','','',''];
                        each slide in slides
                            .compare__item
                                .compare__img
                                    img(src="img/before.jpg", alt="")
                                    img(src="img/after.jpg", alt="")
                                .compare__descr
                                    .compare__title Орбиталь зависима. Амальгама проникает ионообменник.Орбиталь зависима
                                    .compare__text Анод, в согласии с традиционными представлениями, избирательно разъедает растворитель, что вызывает дезактивацию. Согласно выдвинутой гипотезе, пламя возбуждает квантовый катализатор. Свойство, как бы это ни казалось симбиотичным
                                    .compare__diagnose
                                        .compare__diagnoseLabel Паталогии: 
                                        .compare__diagnoseProps Скученность зубов
                                    .compare__diagnose
                                        .compare__diagnoseLabel Направление: 
                                        .compare__diagnoseProps Исправление прикуса
                                    .compare__info
                                        .compare__doc
                                            .compare__photo
                                                img(src="img/photo.png", alt="")
                                            .compare__name
                                                .compare__fio Иванова Мария
                                                .compare__prof Врач ортодонт
                                        .compare__action
                                            a.btn(href="#") Подробнее

            // end compare

            // begin doctors
            section#doctors.doctors.section
                .container_center
                    h2.section__title(data-title="Врачи") Врачи

                    .doctors__list
                        - var doctors = ['','','','','',''];
                        each doc, index in doctors
                            .doctors__item
                                .doctors__img
                                    img(src="img/doc-"+(index+1)+".png", alt="")
                                .doctors__name Иванова Инна
                                .doctors__about Врач ортодонт, доктор медицинских наук, стаж 12 лет
                                .doctors__action
                                    a.btn(href="#") Записаться

            // end doctors

            // begin review
            section#review.review.section
                .container_center
                    h2.section__title Отзывы

                    .review__list
                        each item in ['', '', '', '']
                            .review__item
                                .review__box
                                    .video__wrapper.js-youtube#OuOXvavAy1c
                                    .review__descr
                                        .review__title Отзыв от докторе
                                        .review__name Петвров Семен Иванович
                                        .review__rate
                                            .review__label Рейтинг:
                                            .review__count 5+

            // end review

            // begin promo
            section#promo.promo.section
                .container_center
                    .promo__content
                        h2.section__title(data-title="Акциии предложения") Акциии предложения

                        .promo__list
                            each item, i in ['','','','']
                                .promo__item
                                    .promo__box
                                        .promo__img
                                            img(src="img/promo-"+i+".jpg", alt="")
                                        .promo__descr
                                            .promo__text Орбиталь зависима. Амальгама проникает ионообменник. Анод, в согласии с традиционными представлениями, избирательно разъедает растворитель
                                            .promo__bottom
                                                .promo__date
                                                    label Акция продлится до:
                                                    |22 марта 2019
                                                .promo__action
                                                    a.btn(href="#") Подробнее

            // end promo

        footer.footer
            .container_center
                .footer__top
                    .footer__left
                        a.logo(href="/")
                            img(src="img/logo-contrast.svg", alt="")
                    .footer__right
                        nav.footer__nav
                            ul.navbar
                                -var navbar = ['О нас', 'Свидетельства и сертификаты', 'Фотогалерея', 'Пресса о нас', 'Вопрос-ответ', 'Доктора', 'Статьи', 'Технологии', 'Заболевания', 'Новости', 'Отзывы', 'Цены', 'Вакансии', 'Акции', 'Контакты'];
                                each item in navbar
                                    li.navbar__item
                                        a.navbar__link(href="")= item

                .footer__bottom
                    .footer__copy Все права защищены. Сафмед – стоматология
                    .footer__soc
                        .soc
                            .soc__label Мы в соц сетях:
                            .soc__list
                                a.soc__item(href="") 
                                    i.icon-fb
                                a.soc__item(href="") 
                                    i.icon-insta
                                a.soc__item(href="") 
                                    i.icon-odnoklassniki

        script(src="js/jquery.js")
        script(src="js/slick.min.js")
        script(src="js/jquery.inputmask.min.js")
        script(src="js/jquery.event.move.min.js")
        script(src="js/jquery.twentytwenty.min.js")
        script(src="js/function.js?"+version+"")
